<%- include("./partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle" id="postTitle">
    </div>
    <div class="form-group">
        <label for="postText">Post</label>
        <textarea class="form-control" id="postText" name="postText" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" id="btn" class="btn btn-primary" value="Publish">
    </div>
</form>


<%- include("./partials/footer"); -%>